@model PokeTradeCenter.ViewModels.Ads.AdDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pokemon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pokemon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Move1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Move1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Move2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Move2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Move3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Move3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Move4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Move4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Atk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Atk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeAtk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeAtk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Def)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Def)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeDef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeDef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shiny)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shiny)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
