@model PokeTradeCenter.ViewModels.Ads.AdListingViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<PokeTradeCenter.Areas.Identity.Data.PokeTradeCenterUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h2>Ads</h2>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="filter-row">
    <label>Filters</label>
    <form asp-action="Index" asp-controller="Ads" method="get">
        <select asp-for="pokemonId" asp-items="Model.Pokemons">
            <option value="">All</option>
        </select>
        <select asp-for="pokemonNature" asp-items="Model.Natures">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Pokemon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Nature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Atk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().SpeAtk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Def)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().SpeDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().Shiny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ads.First().ReleaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ads)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "Ads", new { ID = item.ID })'">
                <td>
                    @Html.DisplayFor(modelItem => item.Pokemon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeAtk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Def)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeDef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shiny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

<style>
    td {
        text-transform: capitalize;
    }
</style>